::-webkit-scrollbar{
    display: none;
}
body{
    margin: 0;
    color: white;
    padding: 0;
    background-color: rgb(37, 5, 54);
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    font-size: 3vw;
    margin-left: 2vw;
    margin-top: 1vw;
    transition: 0.5s;
}
nav ul{
    display: flex;
    list-style: none;
    padding-top: 1vw;
    font-size: 1.2vw;
    margin-left: 15vw;
    transition: 0.5s;
}
a{
    text-decoration: none;
    color: white;
}
li{
    padding-left: 7vw;
}
.download{
    background-color: rgb(182, 27, 27);
    padding: 1vw 2vw;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 1vw;
    margin: 1vw 4vw;
    border: 1px solid gray;
    margin-top: -1vw;
}
.download:hover{
    background-color: black;
}
.welcome-box{
    background-color: darkred;
    width: 10vw;
    height: 4vw;
    margin-left: 3vw;
    transition: 0,5s;
}
.welcome-box p{
    padding-top: 1.2vw;
    padding-right: 1vw;
    padding-left:1vw ;
    font-size: 1.1vw;
}


.about-me{
    margin-left: 3vw;
    font-size: 2vw;
    transition: 0.5s;
}

.about-me p{
    margin-right: 60vw;
}
header{
    margin-top: 5vw;
}
.circle-photo img{
    height: 50vw;
    position: absolute;
    margin-top: -40vw;
    margin-left: 30vw;
}
.circle1{
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: rgb(38, 6, 45);
    margin-left: 40vw;
    margin-top: -34vw;
    transition: 0.5s;
    opacity: 90%;
    border: 1px solid gray;
    position: absolute;
    z-index: -1;
}

.circle2{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: rgb(85, 12, 12);
    margin-left: 44vw;
    margin-top: -25vw;
    transition: 0.5s;
    opacity: 90%;
    border: 1px solid gray;
    position: absolute;
    z-index: -1;
}
.circle3{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: rgb(166, 18, 65);
    margin-left: 38vw;
    margin-top: -24vw;
    transition: 0.5s;
    opacity: 90%;
    border: 1px solid gray;
    position: absolute;
    z-index: -1;
}

.follow-us{
    margin-left: 92vw;
    margin-top: -30vw;
    margin-bottom: 10vw;
    transition: 0.5s;
}
.follow-us p{
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 2vw;
    margin-top: 0vw;
    font-size: 1.5vw;
    color: white;
    transition: 0.5s;
}
.vertical-line{
    background-color: white;
    width: 0.2vw;
    height: 10vw;
    margin-left: 2.5vw;
    position: absolute;
    margin-top: 10vw;
}
.sosmed img{
    height: 3vw;
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    margin-top: 1vw;
}
.first-img{
    padding-top:23vw;
}
.portfolio{
    margin-left: 5vw;
    margin-right: 8vw;
    transition: 0.5s;
}
.threebutton{
    margin-left: 33vw;
    padding-right: 4vw;
    height:3.5vw;
    width: 45vw;
    margin-top: 1vw
}
.threebutton ul{
    display: flex;
    list-style: none;
    padding-left: 2vw;
}
.portfolio-flex{
    display: flex;
}
.threebutton ul button{
    background-color: rgb(67, 10, 97);
    height:3vw;
    width:10vw;
    border: 1px solid gray;
    cursor: pointer;
}
.threebutton ul button:hover{
    background-color: red;
}
.firstbtn{
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.thirdbtn{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
}
.title{
    font-size: 3vw;
    transition: 0.5s;
}
.portfolio p{
    padding-right:55vw;
    font-size:1.3vw;
    transition: 0.5s;
}
.img .firstcolumn img{
    height: 20vw;
    margin-left: 2vw;
    margin-top: 2vw;
    width: 20vw;
    border-radius: 1vw;
    border: 1px solid gray;
    object-fit: cover;
}
.img .firstcolumn{
    display: flex;
    margin-left: 10vw;
}
.plus{
    width: 20vw;
    height: 20vw;
    background-color: rgb(67, 10, 97);
    margin-left: 2vw;
    margin-top: 2vw;
    border: 1px solid gray;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.img .secondcolumn{
    display: flex;
    margin-left: 10vw;
}
.plus::before{
    content: "+";
    font-size: 5vw;
    color: white;
}
.portfolio-circle{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin-left: 87vw;
    margin-top: -18vw;
    border: 5px solid white;
    position:   relative;
    
}
.view-all{
    background-color: rgb(201, 56, 4);
    width: 10vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid gray;
    margin-left: 40vw;
    margin-top: 2vw;
    cursor: pointer;
}
.experience{
    background-color: rgb(47, 38, 92);
    text-align: center;
    padding-top: 2vw;
    margin-top: 4vw;
    font-size: 1.3vw;
    margin-bottom: 4vw;
    padding-bottom: 2vw;
}
.year{
    display: flex;
    margin-left: 28vw;
    margin-right: 40vw;
    font-size: 1vw;
}
.year .arrow{
   font-size: 3vw;
   padding-top: 1vw;
   padding-left: 1vw;
}
.year1{
    padding-top:1vw;
    padding-right:2vw;
    padding-left: 2vw;
    background-color: rgb(45, 7, 65);
    border-radius: 10vw;
    margin-left: 2vw;
    margin-top: 2vw;
    border: 1px solid gray;
}
.footer-contact{
    margin-left:5vw;
    font-size: 1.5vw;
}
.dropaline input{
    background:black;
    padding: 2vw;
    padding-right: 8vw;
    margin-right: 2vw;
    color: white;
    margin-top: 2vw;
    border-radius: 1vw;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.dropaline select{
    background:black;
    padding: 2vw;
    padding-right: 14.6vw;
    margin-right: 2vw;
    color: gray;
    border-radius: 1vw;
}
.dropaline form .messageform{
    padding-right: 31vw;
    padding-bottom: 10vw;
}
.dropaline{
    margin-left: 50vw;
    margin-top: -9vw;
}
.dropaline.title h1{
    font-size: 1.5vw;
}
.Submit{
    background-color: rgb(192, 26, 4);
    width: 10vw;
    height: 3vw;
    border-radius: 0.5vw;
    border: 1px solid gray;
    margin-top: 2vw;
    cursor: pointer;

}
footer{
    background-color:rgb(47, 38, 92) ;
    height: 20vw;
    margin-top: 4vw;
}
.say-hi{
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    border: 2px solid gray;
    text-align: center;
    position: absolute;
    margin-left: 40vw;
    margin-top: 3vw;
    transition: 0.5s;
}
.say-hi h1 {
    padding-top: 2vw;
    font-size:1.5vw;
}
.sayhi-flex{
    display: flex;
    height: 2vw;
    margin-left: 2.3vw;
}
.sayhi-flex img{
    padding-left: 1vw;
}
.say-hi p{
    font-size: 1vw;
}
/* Entrance Animation section (jan di otak atik bang tpi kalo ko ngerti gpp) */
.welcome-box{
    animation: welcome-box 1s;
}

@keyframes welcome-box{
    0%{
        width: 0vw;
        height: 0vw;
    }
    100%{
        width: 10vw;
        height: 4vw;
    }
}
.welcome-box p{
    animation: welcome-box-p 1s;
}
@keyframes welcome-box-p{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes entrance{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.about-me{
    animation: entrance 1s ease-in-out;
}
.circle-photo img{
    animation: circle-photo 1s;
}
@keyframes circle-photo{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.circle1{
    animation: circle1 1.5s;
}
@keyframes circle1{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.circle2{
    animation: circle2 2s;
}
@keyframes circle2{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.circle3{
    animation: circle3 2.5s;
}
@keyframes circle3{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}